{% extends "layout.html" %}
{% block time %}
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body class="text-center">
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            {% if status == "user_notfound" %}
<p>ユーザが見つかりません。<a href="/signup">新規登録</a>はこちらから</p>
{% elif status == "wrong_password" %}
<p>パスワードが違います</p>

        </div>
        <div class="alert alert-primary" role="alert" th:if="${param.logout}">
            {% elif status == "logout" %}
            <p>ログアウトしました</p>
                    </div>
        <h1 class="h3 mt-2 mb-3 font-weight-normal">ログイン</h1>
        <form class="w-25 mx-auto" action=/login" method="post">
           	<label for="username" class="sr-only"></label>
           	<input class="form-control" id="username"
           			type="text" name="user_name" placeholder="ユーザネーム" 
           			required autofocus/>
           	<label for="password" class="sr-only"></label>
           	<input class="form-control" id="password"
           			type="password" name="password" placeholder="パスワード" 
           			required/>
           	<input class="btn btn-outline-primary my-1" type="submit" value="Login"/>
        </form>
    </body>
</html>