<!DOCTYPE html>
<html>
  <title>Candice</title>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <img />
    <center>
      <h1>
        <img　src="/static/images/kuma.png" alt="くま"
          style="width:40px;height:auto;"
        />ChatBot
      </h1>
    </center>
    <div class="box"></div>
    <div class="boxed">
      <div>
        <div id="chatbox">
          <img　src="/static/images/kuma.png" alt="くま"
            style="width:40px;height:auto;"
          />
          <p class="botText">
            <span>こんにちは何でも話しかけてみてね </span>
          </p>
        </div>
        <div id="userInput">
          <input id="textInput" type="text" name="msg" placeholder="Message" />
        </div>
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document
            .getElementById("userInput")
            .scrollIntoView({ block: "start", behavior: "smooth" });
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + "</span></p>";
            $("#chatbox").append(botHtml);
            document
              .getElementById("userInput")
              .scrollIntoView({ block: "start", behavior: "smooth" });
          });
        }
        $("#textInput").keypress(function(e) {
          if (e.which == 13) {
            getBotResponse();
          }
        });
      </script>
    </div>
  </body>
</html>