{% extends "layout.html" %}
{% block time %}

<h1 class="h3 mt-2 mb-3 font-weight-normal">新規追加</h1>
<h3>{{ name }}さん</h3>

<form class="w-25 mx-auto" action="/add" method="post">
    <label for="" class="sr-only"></label>
    <input class="form-control" id="" type="text" name="kamoku" placeholder="科目" required autofocus />
    <label for="" class="sr-only"></label>
    <input class="form-control" id="" type="text" name="kiroku" placeholder="記録" />
    <label for="" class="sr-only"></label>
    <input class="form-control" id="" type="number" name="time" placeholder="時間" required autofocus />
    <input class="btn btn-outline-primary my-1" type="submit" value="追加" />
</form>

<h4><a class="return" href="study">戻る</a></h4>

{% endblock %}