{% extends "layout.html" %}
{% block time %}

<h3><a class="logout" href="/logout">ログアウト</a></h3>

<h3>{{ name }}さん、ようこそ。</h3>
<h3><a class="chatbot" href="/home">Chatbot</a></h3>

<h3>記録</h3>
<p>新規追加</p>
<form action="/add" method="post">
    <input type="text" name="kamoku" placeholder="科目">
    <input type="text" name="kiroku" placeholder="記録">
    <input type="number" name="time" placeholder="時間">
    <input type="submit" value="追加">
</form>


<p>編集</p>
<form action="/update" method="post">
    <input type="text" name="kamoku" placeholder="科目">
    <input type="text" name="kiroku" placeholder="記録">
    <input type="integer" name="time" placeholder="時間">
    <input type="submit" value="更新">
</form>

<table>
    <ul>
        <li>科目</li>
        <li>内容</li>
        <li>勉強時間</li>
        <li>登録日時</li>
    </ul>
{% for study in all_study %}

    <ul>
        <li>{{study.kamoku}}</li>
        <li>{{study.kiroku}}</li>
        <li>{{study.time}}時間</li>
        <li>{{study.date}}</li>
    </ul>
</table>
<div>
    <input type="radio" name="update" value={{study.id}}>
    <input type="checkbox" name="delete" form="delete" value="{{study.id}}">
    {{study.kamoku}}：{{study.kiroku}}:{{study.time}}時間（{{study.date}})
</div>

{% endfor %}
<br>
<form action="/delete" method="post" id="delete">
    <input type="submit" value="チェックしたアイテムを削除する">
</form>


{% endblock %}