body {
  background-color: rgb(255, 254, 253);
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 14px;
  text-align: center;
}

h3 {
  color: black;
  font-size: 20px;
  margin-top: 3px;
  text-align: center;
}

h4 {
  text-align: center;
}

#kuma{
  width: 40px;
  height: auto;
}

#araiguma{
  width: 40px;
  height: auto;
  margin-left:  95%;

}

#chatbox {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 60px;
  /* height: 200px;
  overflow: scroll; */
}

#userInput {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 60px;
}

#textInput {
  width: 90%;
  background-color: rgba(185, 180, 180, 0.24);
  border: 3px solid rgb(185, 180, 180);
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 25px;
}

.userText {
  color: black;
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 17px;
  text-align: right;
  line-height: 30px;
}

.userText span {
  display: inline-block;
  background-color:rgb(247, 162, 209);
  padding: 13px;
  border-radius: 10px;
  max-width: 40%;
}

.botText {
  color: black;
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
}

.botText span {
  display: inline-block;
  background-color:rgb(148, 246, 250);
  padding: 13px;
  border-radius: 10px;
  max-width: 40%;
}

#tidbit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
}

/* .boxed {
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: 60px;
}
 */

.table {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   width: 60%;
}